{%extends 'base.html'%}
{%load static%}

{%block title%}Inicio{%endblock%}
{%block content%}
<h2 class="text-center">Informações Gerais</h2>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-responsive" src="{% static 'foto_time.jpg' %}">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Início e Primeiros Anos</h1>
        <p class="lead">O futsal no Brasil começou a ganhar destaque na década de 1960, e a seleção nacional foi criada em 1965, com o objetivo de representar o país em competições internacionais e promover o desenvolvimento do esporte. Nos primeiros anos, o Brasil começou a se destacar com um estilo de jogo que mesclava habilidade técnica e criatividade, características que rapidamente se tornaram marca registrada da equipe.</p>
        
      </div>
    </div>
</div>
{%endblock%}