{%extends 'base.html'%}
{%load static%}

{%block title%}Inicio{%endblock%}
{%block content%}
<h2 class="text-center">Informações Gerais</h2>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/time.jpg' %}" alt="Logo do time" class="team-logo">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Início e Primeiros Anos</h1>
        <p class="lead">A Seleção Brasileira Feminina de Futebol é uma das equipes mais tradicionais do futebol feminino mundial. Representando o Brasil desde 1988, o time ganhou destaque por sua habilidade técnica, garra e jogadoras talentosas, como Marta, considerada uma das maiores atletas da história do esporte. Ao longo dos anos, a seleção conquistou importantes títulos sul-americanos e chegou perto da glória mundial, com o vice-campeonato na Copa do Mundo de 2007 e duas medalhas de prata nas Olimpíadas (2004 e 2008). Apesar dos desafios enfrentados, a equipe segue sendo símbolo de perseverança e inspiração para novas gerações de jogadoras no Brasil e no mundo.</p>
        
      </div>
    </div>
</div>
{%endblock%}